# Virtual Environments
.venv/
env/
venv/

# Python Cache & Build Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor Settings
.idea/
.vscode/
*.swp